<%- include('./partials/frontend/header.ejs') %> 
  <body class="single_post_page_full" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="100">
    
    
    <!-- Preloader -->
    <div id="preloader">
        <div id="spinner"></div>
    </div>
    <!-- End Preloader-->

    
    <!-- Start Navigation -->
    <%- include('./partials/frontend/navbar.ejs') %> 

    <!-- End Navigation -->

    

    <!-- Start Contact -->
    <section id="contact" class="p-top-50 p-bottom-50">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- Section Title -->
                    <div class="section-title text-center m-bottom-40">
                        <h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Pembayaran</h2>
                        <div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
                        <p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Harap lakukan pembayaran dalam 1x24 jam</p>
                    </div>
                </div> <!-- /.col -->
            </div>  <!-- /.row -->

            <div class="row">

                <!-- === Contact Form === -->
                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 p-bottom-30">
                    <div class="contact-form row">

                        <div name="ajax-form" id="ajax-form" action="contact.php" method="post">
                            <div class="col-sm-12 contact-form-item wow zoomIn">
                                <input name="name" id="name" type="text" value="<%= user.name %> "  placeholder="Nama *"/>
                                <span class="error" id="err-name">please enter name</span>
                            </div>
                            <div class="col-sm-6 contact-form-item wow zoomIn">
                                <input name="email" id="email" type="text" value="<%= user.email %> "  placeholder="E-Mail *"/>
                                <span class="error" id="err-email">please enter e-mail</span>
                                <span class="error" id="err-emailvld">e-mail is not a valid format</span>
                            </div>
                            <div class="col-sm-6 contact-form-item wow zoomIn">
                                <input name="email" id="email" type="text" value="<%= user.noHp || 'null' %> "  placeholder="No HP *"/>
                                <span class="error" id="err-email">please enter e-mail</span>
                                <span class="error" id="err-emailvld">e-mail is not a valid format</span>
                            </div>
                            <div class="col-sm-12 contact-form-item wow zoomIn p-top-30">
                                <table class="table">
                                    <thead>
                                        <td>No</td>
                                        <td>Nama Kelas</td>
                                        <td>Harga</td>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><%= classes.name %> </td>
                                            <td>Rp <%= dataPrice %>,-</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2"><b class="pull-right">Total</b></td>
                                            <td>Rp <%= dataPrice %> ,-</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="col-sm-12 contact-form-item wow zoomIn p-top-20 p-bottom-20 text-center">

                                <p><b>Mohon baca secara teliti sebelum melakukan pembayaran</b></p>

                                <h1 hidden>#KodeUnik</h1>
                                
                                <p>Jumlah yang harus dibayar : </p>
                                <h1>Rp <%= dataPrice %> -</h1>

                                <p>Pembayaran dilakukan secara transfer yang dapat dikirim ke rekening berikut :</p>
                            
                                <h3><b>2122 2121 2123</b></h3>
                                <h5>a.n ADMIN HALAKA (BCA)</h5>
                                <p><b>Penting*</b>Kode unik diatas dilampirkan pada berita acara saat transfer</p>                                

                                <p>Setelah melakukan pembayaran harap upload bukti pembayaran anda dengan menekan tombol <b>"Upload Bukti Pembayaran"</b>. Setelah upload bukti pembayaran tekan tombol <b>"Selesai"</b> dan tunggu konfirmasi dari admin. Setelah admin mengkonfirmasi pembayaran pengguna dapat langsung melihat kelas yang dibeli di halaman kelas saya.</p>

                            </div>
                            <div class="col-sm-12 contact-form-item">
                                <div class="pull-left"> <input type="file" name="" id=""> <br> <a href="/kelas-saya.html" class=" btn btn-main btn-transparant wow fadeInUp" data-lang="en">Upload Bukti Pembayaran</a></div>
                                <div class="pull-right"><a href="kelas-saya.html"><button class=" btn btn-main btn-theme wow fadeInUp">Selesai</button></a></div>                
                            </div>
                            <div class="clear"></div>   
                            <div class="error text-align-center" id="err-form">There was a problem validating the form please check!</div>
                            <div class="error text-align-center" id="err-timedout">The connection to the server timed out!</div>
                            <div class="error" id="err-state"></div>
                        </div> 
                                    
                        <div class="clearfix"></div>
                        <div id="ajaxsuccess">Successfully sent!!</div>
                        <div class="clear"></div>

                    </div> <!-- /.contacts-form & inner row -->
                </div> <!-- /.col -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>
    <!-- End Contact -->


    <!-- Start Footer -->
    <footer class="site-footer">
        <div class="container">
            <small class="copyright pull-left">Copyrights © 2019 All Rights Reserved By <a href="#">Halaka</a>.</small>
            <div class="social-icon pull-right">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
            <!-- /social-icon -->
        </div>
        <!-- /container -->
    </footer>
    <!-- End Footer -->


    <!-- Back to top -->
    <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>
    <!-- /Back to top -->

    
<%- include('./partials/frontend/scripts.ejs') %>